@model List<VehiculoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Lista Vehiculo
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="MantenedorVehiculo" class="btn btn-success"><i class="bi bi-plus-circle"></i>Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cilindraje</th>
                <th>Tipo de Vehiculo</th>
                <th>Ciudad de Registro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Placa</td>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Cilindraje</td>
                    <td>@item.TipoVehiculo</td>
                    <td>@item.CiudadRegistro</td>
                    <td>
                     <a asp-action="Editar" asp-controller="MantenedorVehiculo" class="btn btn-primary btn-sm"asp-route-IdVehiculo="@item.IdVehiculo">Editar</a>
                     <a asp-action="Eliminar" asp-controller="MantenedorVehiculo" class="btn btn-danger btn-sm" asp-route-IdVehiculo="@item.IdVehiculo">Eliminar</a>

                    </td>
                </tr>
            }
        </tbody>
        </table>



    </div>
</div>

